/*Inicializacion*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .row {
    padding: 0px;
    margin: 0px;
  }
  
  /*Fin Inicializacion*/
  /*Cuerpo*/
  body {
    background-color: rgb(255, 255, 255);
    background-image: url(.././img/back.png);

  }

  h1 {
    color: white;
    font-size: 3.5rem;
  }

  #registro h2{
    color: whitesmoke;
    text-align: center;
    padding: 3px;
  }
  
  h2 {
    color: azure;
    font-size: 1.5rem;
  }

  .container {
    background-color: rgba(138, 23, 161, 0.945);
    background-image: linear-gradient(to right, rgba(151, 39, 132, 0.768627451) rgba(112, 18, 104, 0.623) b2, rgba(114, 24, 106, 0.5960784314));
  }

  #entr{
    color: white;
    text-align: start;
    border-style: dotted;
    border-color: beige;
    margin-bottom: 5px;
  }

  #entr h2{
    text-align: center;
  }

#entpic{
  text-align: end;
}

  #entpic img{
    width: 60%;
    height: auto;
    border-style: solid;
    border-color: black;
  }

  #Bulba, #Char, #Squi{
    border-style: solid;
    border-color: antiquewhite;
  }

  #Bulba:hover, #Char:hover, #Squi:hover{
    background-color: white;
    border-color: black;
    color: black;
  }

  #duelo{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
  }

  #pok1, #pok2{
    color: aliceblue;
    border-style: dashed;
    border-color: aliceblue;
    margin: 3px;
    padding: 2px;
  }

  #pok1 img, #pok2 img{
    width: 65%;
    height: auto;
  }

  #log {
    color: antiquewhite;
    margin: 3px;
    border-style: solid;
    border-color: crimson;
  }
  /*Fin Cuerpo*/