/*Inicializacion*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .row {
    padding: 0px;
    margin: 0px;
  }
  
  /*Fin Inicializacion*/
  /*Cuerpo*/
  body {
    background-color: rgb(255, 255, 255);
    background-image: url(.././img/back.png);

  }

  h1 {
    color: white;
    font-size: 3.5rem;
  }
  
  h2 {
    color: azure;
    font-size: 1.5rem;
  }

  .container {
    background-color: rgba(138, 23, 161, 0.945);
    background-image: linear-gradient(to right, rgba(151, 39, 132, 0.768627451) rgba(112, 18, 104, 0.623) b2, rgba(114, 24, 106, 0.5960784314));
  }
  /*Fin Cuerpo*/